version: '3.8'

services:
  backend:
    build: ./backend
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        # Change these to your production IP/Domain when deploying
        VITE_API_URL: "http://localhost:3000"
        VITE_WS_URL: "ws://localhost:3000"
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
